{% load staticfiles %}
<html>
	<head>
		<title>NMIMS,Bangalore: PCom DB </title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	</head>
	<body>
		<div>
			<a href=""><img src="{% static 'images/logo.jpg' %}"></a>
			<h1><a href=""> NMIMS, Bangalore: PCom DB </a></h1>
		</div>
		<div>
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>